Listings/
Objects/
DebugConfig/

RTE/*
!RTE/Device

RTE/Device/*
!RTE/Device/STM32L4R5ZITx/

RTE/Device/STM32L4R5ZITx/*
!RTE/Device/STM32L4R5ZITx/STCubeGenerated/

RTE/Device/STM32L4R5ZITx/STCubeGenerated/*
!RTE/Device/STM32L4R5ZITx/STCubeGenerated/Src/

RTE/Device/STM32L4R5ZITx/STCubeGenerated/Src/*
!RTE/Device/STM32L4R5ZITx/STCubeGenerated/Src/main.c